@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
 
body{
    width: 100%;
	height: 100%;
	font-family: Poppins, sans-serif;
    background-color: #ebd6d1;
}
.sections{
    padding: 20px 0;
}
.home{
    height: 500px;
    background-image: url("home.jpg");
    background-size: cover;
    background-position: center;
    position: relative; /*dah relative 3shan hwa section le div absolute (overlay)*/
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*dol m3nahom eno width=100% w height=100%*/
    background: rgba(0,0,0,0.6); /*3lshan tb2a shafafa*/
    color: #fff;
}
.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* de w kol ely fo2eha 3lshan ageb el content kolo fe el nos */
}
.home-content h3{
    font-size: 47px;
    text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
	padding-bottom: 1.3rem;
}
.home-content p{
    font-size: 15px;
}
.home-content .btn-primary
{
	background-color: #616770;
	border: 1px solid #563d7c;
	margin: 0 auto;
    padding: 10px 10px;	
}
.home-content .btn-primary:hover
{
	background-color: #84726d;
	border: 1px solid #DDD;
}
@media (max-width: 576px) {
  .home-content p{
    font-size: 18px;
  }
  .home .btn-primary{
    margin-bottom: 10px;
  }
}
.header{
    text-align: center;
}
.line{
    width: 150px;
    background: #000;
    height:2px;
    margin: auto;
    margin-bottom: 20px;
}
.line span{
    display: block;
    width: 100px;
    height: 4px;
    background-color: #84726d;
    margin: auto;
    margin-bottom: 20px;
  
}
.col-lg-6 h5{
    margin-top: 30px;
    margin-left: 1rem;
}
.col-lg-6 span{
    color: #84726d;
}
.col-lg-6 p{
    margin-top: 30px;
    margin-left: 1rem;
}
.col-lg-6 .btn-primary{
    background-color: #84726d;
	border: 1px solid #563d7c;
	margin: 0 auto;
    padding: 10px 10px;	
}
.col-lg-6 .btn-primary:hover{
	background-color: #616770;
	border: 1px solid #563d7c;
}
@media (max-width: 576px) {
 .col-lg-6 .btn-primary{
    margin-bottom: 1rem;
 }
}
/*services*/
.services{
    background: #f7f7f7;
}
.services .serv{
    background: #fff;
    text-align: center;
    margin-top: 3rem;
    padding: 20px 20px;
       transition: all 0.3s ease-in-out;
}
.services .serv-title{
    font-weight: bold;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
.fa-camera,.fa-align-center,.fa-code,.fa-th ,.fa-laptop{
    color: #000;
    margin: 1rem;
    font-size: 2.5em;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.services .serv-descripton{
    font-size: 17px;
    color: #888;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    
}
.services .serv:hover{
    background: #84726d;
}

.services .serv-descripton:hover{
    color: #fff;
}
/**/
.stat {
    background: #f7f7f7;
    text-align: center;
    height: 250px;
    background-image: url("work-2.jpg");
    background-size: cover;
    background-position: center;
    font-size: 60px;
    margin-top: 0;
    color :#fff;
}
#demo {
 padding-top:60px;
}


@media (max-width : 991px) {
    .stat {
        height: 900px
    }
}
/* portfolio ============ */
.portfolio .buttons {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px
}

.portfolio .buttons button {
    width: 100px;
    background: #333;
    color: #fff;
    border: 0;
    padding: 10px;
    outline: 0
}

.portfolio .Images > div {
    margin-bottom: 20px;
}

.portfolio .Images > div img{
    width: 100%;
}
.design,.print,.mation,.video{
    margin-bottom: 20px;
}
.portfolio .more {
    width: 250px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: 0;
    display: block;
    margin: auto;
    outline: 0
}
/* exprets ============== */
.exprets {
    background: #4c4c4c;
}

.exprets .section-title {
    color: #fff
}

.exprets .progress-content {
    margin-top: 20px
}

.exprets .progress {
    width: 150px;
    height: 150px;
    background: none;
    box-shadow: none;
    margin: 0 auto;
    position: relative
}

.exprets .progress > span { 
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2
}

.exprets .progress .progress-value {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    background: none;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 135px
}

.exprets .progress .progress-left {
    left: 0;
}

.exprets .progress .progress-right {
    right: 0;
}

.exprets .progress .progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
}

.exprets .progress.blue .progress-bar {
    border-color: #049dff 
}

.exprets .progress.yellow .progress-bar {
    border-color: #fdba04 
}

.exprets .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: left;
}

.exprets .progress .progress-right .progress-bar {
    right: 100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: right;
    animation: load1 1.8s linear forwards
}

.exprets .progress.blue .progress-left .progress-bar {
    animation: load2 1.5s linear forwards 1.8s
}

.exprets .progress.yellow .progress-left .progress-bar {
    animation: load3 1s linear forwards 1.8s
}

@keyframes load1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes load2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(144deg);
    }
}

@keyframes load3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

.exprets .title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px
}
/* pricing ============ */ 
.pricing {
    background: #f7f7f7
}

.pricing .plan {
    text-align: center;
    background: #fff;
    transition: all 0.5s ease-in-out
}

.pricing .plan .plan-title {
    background: #252525;
    color: #fff;
    padding: 10px 0;
    transition: all 0.5s ease-in-out
}

.pricing .plan .plan-title span {
    display: block;
    margin-bottom: 5px
}

.pricing .plan .plan-title .price {
    font-size: 35px;
    font-weight: bold
}

.pricing .plan .plan-title .title {
    font-size: 15px;
    font-weight: normal
}

.pricing .plan .pl-desc {
    margin:0;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px
}

.pricing .plan ul li {
    padding: 10px
}

.pricing .plan .plan-btn {
    background: #252525;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    transition: all 0.5s ease-in-out
}

.pricing .plan:hover .plan-title,
.pricing .plan:hover .plan-btn{
    background: #84726d;
}
/* team ============= */
.team .team-info {
    text-align: center;
}

.team .team-info .item-info-title {
    margin: 5px 0
}

.team .team-info .item-info-desc {
    display: block;
    margin-bottom: 5px
}

.team .team-info .team-info-social {
    background: #252525;
    position: relative;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    color: #fff
}

.team .team-info .team-info-social i {
    position: relative;
    z-index: 15
}

.team .team-info .bg {
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    transition: all 0.5s ease-in-out
}

.team .team-info:hover .bg {
    width: 100%;
    background: #84726d;
}
/* business========= */
.business {
    background-image: url('lap-stat.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 250px;
    color: #fff;
}

.business .bs_info {
    margin: 40px 0
}

.business .bs_info .bs_title {
    font-size: 35px;
}

.business .bs_info .bs_desc {
    width: 60%;
    margin: auto;
    font-size: 20px;
    color: #AAA;
    margin-bottom: 15px
}

.business .bs_info .bs_btn {
    padding: 10px 20px;
    background: #84726d;
    margin-bottom: 10px;
    border: 0;
}

@media (max-width:768px) {
    .business {
        height: 300px;
    }
    .business .bs_info .bs_title {
        font-size: 25px;
    }

    .business .bs_info .bs_desc {
        width: 80%; 
        font-size: 18px;
    }
}
/* contact ========= */ 
.contact {
    background: #f7f7f7
}

.contact .contact-info .contact-info-desc {
    color: #888;
    line-height: 1.6
}

.contact .contact-info span {
    display: block;
    margin-bottom: 10px
}

.contact .contact-info span i {
    border: 1px solid #7cb62f;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #7cb62f
}

.contact .contact-info span:hover i {
    background: #8e61ac;
    color: #fff
}

.contact form .form-group {
    display: flex
}

.contact form .form-control:focus {
    border-color: #888
}

.contact form .form-btn {
    background:#84726d ;
    padding: 10px 20px;
    margin:10px auto;
    border: none;
    font-size: 20px;
    color: #fff;
    display: block;
    outline: 0
}

@media (max-width:575px) {
    .contact form .form-group {
        display: block
    }
    
    .contact form .form-group input {
        margin-bottom: 10px
    }
}

/* footer =========== */
footer {
    background: #333;
    color: #888
}

footer h3 {
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #888
}
 
footer .footer-icon  {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px !important;
    color: #fff
}

footer .footer-icon:nth-of-type(1) {
    background: #3b5998
}

footer .footer-icon:nth-of-type(2) {
    background: #55acee
}

footer .footer-icon:nth-of-type(3) {
    background: #dd4b39
}

footer .footer-icon:nth-of-type(4) {
    background: #ff0000
}

footer .footer-icon:nth-of-type(5) {
    background: #007bb5
}

footer ul li {
    padding: 10px 0;
    color: #fff;
    border-bottom: 1px solid #888
}

footer button {
    padding: 5px 10px;
    background: #696969;
    border: 0;
    color: #f7f7f7;
    margin-bottom: 5px
}

footer img {
    width: 70px;
    height: 70px;
    border: 1px solid #888;
    padding: 1px
}

.copyright {
    background: #232323;
    color: #fff;
}

.copyright .copy-desc , .copyright ul {
    margin: 0
}

.copyright .copy-desc i {
    color: #7cb62f
}

.copyright ul {
    display: flex;
    justify-content: space-between
}

.copyright ul li {
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.copyright ul li:hover {
    color: #7cb62f
}

@media (max-width:575px) {
    .copyright ul {
        display: block
    }
}